#container {
	width: 100%;
	background-color: #FFFFFF;
}

#header {
	width: 100%;
	height: 100px;
	background-color: #321900;
}

.topTabs {
	width: 100%;
	height: 40px;
	background-color: #321900;
	color: #ffffff;
}

.content-container {
	width: 100%;
	background-color: #FFFFFF;
}

.side {
	background-color: #321900;
	width: 15%;
	min-height: 400px;
	float: left;
}

.content {
	width: 83%;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.content p {
	color: #767676;
}

.page-footer {
	height: 100px;
	width: 100%;
	background-color: #321900;
}

.page-footer .footer{
	background-color: #321900;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color: #ffffff;
}

BODY {
	background-color: #E6E4E5;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

TABLE,TR,TD,H6,H5,H4,H3,H2,H1,A {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

FORM INPUT,TEXTAREA {
	width: 423px;
	font-family: verdana, arial, sans-serif;
	font-size: 12;
}

H3{
	background-color: #FFB8A6;
	color: #000000;
	padding: 5px 5px 5px 5px;	
}	

.button{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.loginTable{
	width:400px;
	background-color: #FFFFFF;
	margin-top: 100px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
}

.loginTable INPUT{
	width:200px;
	background-color: #FFFFFF;
}

.message {
	padding-top: 15px;
	padding-left: 10px;
	width: 99%;
	height: 40px;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #FF704D;
	font-weight: bold;
}

.odd {
	background-color: #DADADA;
}

.even {
	background-color: #F2F2F2;
}